
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="resimKapsayıcı">
                    <a href="https://www.google.com/"><img class="d-block w-100" src="~/images/solid.png" alt="First slide"></a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="resimKapsayici">
                    <a href="#" class="imglink"><img class="d-block w-100" src="~/images/oop.jpg" alt="Second slide"></a>

                </div>
            </div>
            <div class="carousel-item">
                <div class="resimKapsayıcı">
                    <a href="#" class="imglink"><img class="d-block w-100" src="~/images/yazilim.jpg" alt="Third slide"></a>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/design.png" alt="Card image cap">
                <div class="card-body">
                    <p><b  class="card-bold">Design Patterns</b></p>
                    <p class="card-text" id="metin">
                        Design Patterns yani tasarım desenleri yazılım geliştirirken sıklıkla rastlanan sorunların çözümünde bize bir hayli kolaylık sağlamaktadır.

                    </p>
                    <a href="/Home/Index2/1" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/javascript-nedir.jpg" alt="Card image cap">
                <div class="card-body text-left">
                    <p class="card-text">Javascript nedir? Ne işe yarar.</p>
                </div>
            </div>
            <div class="card" style="width: 100%;margin-top:5px;">
                <img class="card-img-top" src="~/images/jquery-banner.png" alt="Card image cap" style="height:100px;">
                <div class="card-body text-left">
                    <p class="card-text">Bir javascript kütüphanesi olan Jqueryi neden kullanırız.</p>
                </div>
            </div>
            <div class="card" style="width: 100%;margin-top:5px;">
                <img class="card-img-top" src="~/images/bootstrap-illustration.png" style="height:112px;" alt="Card image cap">
                <div class="card-body text-left">
                    <p class="card-text">Bootstrap nedir? Nasıl kullanılır?</p>
                </div>
            </div>


        </div>

    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/ef.png" alt="Card image cap">
                <div class="cards-body col8-margin">
                    <b class="card-bold">Entity Framework</b>
                    <p class="card-text" id="metin">
                        Entity Framework ORM(Object Relational Mapping) araçlarından biridir.
                    </p>
                    <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%; ">
                <img class="card-img-top" src="~/images/elasticsearch.png" alt="Card image cap">
                <div class="card-body">
                   <b>Elastic Search</b>
                    <p class="card-text">Elastic Search Nedir? Avantajları Nelerdir? Neden ihtiyaç duyarız?</p>
                    
                </div>
            </div>
            <div class="card" style="width: 100%; margin-top:15px;">
                <img class="card-img-top" src="~/images/frontend-backend.png" alt="Card image cap">
                <div class="card-body">
                    <b>Frontend-Backend</b>
                    <p class="card-text">Frontend-Backend Nedir? Avantajları Nelerdir?</p>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/identity.jpg" alt="Card image cap" style="height:350px;">
                <div class="cards-body col8-margin">
                    <b class="card-bold">Identity</b>
                    <p class="card-text" id="metin">
                        Kullanıcı yönetiminin gerçekleştirilmesi amacıyla Microsoft tarafından 2013 yılında “ASP.Net Identity” frameworkü ortaya konulmuştur.
                    </p>
                    <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%; ">
                <img class="card-img-top" src="~/images/native-hybrid.jpg" alt="Card image cap">
                <div class="card-body">
                    <b>Native-Hybrid</b>
                    <p class="card-text">Native-Hybrid Nedir? Avantajları Nelerdir? Neden ihtiyaç duyarız?</p>

                </div>
            </div>
            <div class="card" style="width: 100%; margin-top:15px;">
                <img class="card-img-top" src="~/images/orm.png" alt="Card image cap">
                <div class="card-body">
                    <b>ORM</b>
                    <p class="card-text">ORM Nedir? Avantajları Nelerdir?</p>

                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:20px;margin-bottom:20px;">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/Waterfall-Model.jpg"
                         class="card-img-top"
                         alt="..."  style="height:200px;"/>
                    <div class="card-body">
                        <b class="card-bold">Waterfall Model</b>
                        <p class="card-text">
                            Bir yazılım geliştirme modeli olan  Waterfall nedir? Ne zaman kullanmalıyız?
                        </p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/agile.jpg"
                         class="card-img-top"
                         alt="..."  style="height:200px;"/>
                    <div class="card-body">
                        <b class="card-bold">Agile</b>
                        <p class="card-text">
                            Çevik yazılım geliştirme nedir? Günümüzde sıklıkla kullanılmasının nedenleri nelerdir?
                        </p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/agilevswater.png"
                         class="card-img-top"
                         alt="..." style="height:200px;" />
                    <div class="card-body">
                        <b  class="card-bold">Waterfall vs Agile</b>
                        <p class="card-text">
                           Hangi yazılım geliştirme modeli daha öndedir? Hangisini ne zaman kullanmalıyız?
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/react.jpeg" alt="Card image cap"style="height:365px;">
                <div class="cards-body col8-margin">
                    <b class="card-bold">React</b>
                    <p class="card-text" id="metin">
                        Facebook tarafından üretilmiş, kullanıcı ara yüzleri oluşturmak için kullanılan bir javascript kütüphanesidir.
                    </p>
                    <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%; ">
                <img class="card-img-top" src="~/images/angular.png" alt="Card image cap">
                <div class="card-body">
                    <b>Angular</b>
                    <p class="card-text">Angular Nedir? Avantajları Nelerdir?</p>

                </div>
            </div>
            <div class="card" style="width: 100%; margin-top:15px;">
                <img class="card-img-top" src="~/images/vue.png" alt="Card image cap">
                <div class="card-body">
                    <b>Vue JS</b>
                    <p class="card-text">Vue JS Nedir?  Avantajları Nelerdir?</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/taban.jpg" alt="Card image cap" style="height:395px;">
                <div class="card-body">
                    <b class="card-bold">İnternet Tabanlı Teknolojiler</b>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%; ">
                <img class="card-img-top" src="~/images/switch.jpg" alt="Card image cap">
                <div class="card-body">
                    <b>Switch Konfigurasyonu</b>
                    <p class="card-text">Manuel olarak switch nasıl konfigure edilir?</p>

                </div>
            </div>
            <div class="card" style="width: 100%; margin-top:15px;">
                <img class="card-img-top" src="~/images/ssh.jpg" alt="Card image cap">
                <div class="card-body">
                    <b>SSH Konfigurasyonu</b>
                    <p class="card-text">Uzaktan güvenli bağlantı için SSH konfigure etme.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/images/api.png" alt="Card image cap" style="height:367px;">
                <div class="card-body">
                    <b class="card-bold">API</b>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%; ">
                <img class="card-img-top" src="~/images/web-servis.jpeg" alt="Card image cap">
                <div class="card-body">
                    <b>Web Servis</b>
                    <p class="card-text">Web Servis Nedir? Avantajları Nelerdir? Neden ihtiyaç duyarız?</p>

                </div>
            </div>
            <div class="card" style="width: 100%; margin-top:15px;">
                <img class="card-img-top" src="~/images/jsonjpeg.jpeg" alt="Card image cap">
                <div class="card-body">
                    <b>JSON</b>
                    <p class="card-text">JSON Nedir? Avantajları Nelerdir?</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    
    <div class="row mt-3 mb-3">
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="~/images/chip.jpg" alt="Lights" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="~/images/endustri.jpg" alt="Nature" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="~/images/lock.jpg" alt="Fjords" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="~/images/machine.jpg" alt="Lights" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="~/images/net.jpg" alt="Nature" style="width:100%; height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="~/images/network.jpg" alt="Fjords" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="~/images/oop.jpg" alt="Lights" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="~/images/solid.png" alt="Nature" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 opacity">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="~/images/home-bg.jpg" alt="Fjords" style="width:100%;height:250px;">
                    <div class="caption">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


