
@{
    ViewData["Title"] = "API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container articles">
    <h1>API Nedir?</h1>
    <br />
    <p>
        "Uygulama" kelimesi birçok şeye atıfta bulunmak için kullanılabilir. Bir API bağlamında, farklı bir işleve sahip bir yazılım parçası, bir uygulamanın küçük bir parçası, bir uygulamanın tamamı veya tüm bir sunucu olabilir.
        <br />
        API'ler, tüm yazılım türlerinde farklı amaçlar için kullanılır ve halka açık olabilir, stratejik ortaklar arasında sınırlandırılabilir, yalnızca dahili kullanım için veya diğer veri ve hizmet API'lerinin bir bileşimi olabilir.

    </p>
    Hepimiz, farkında olmasak bile API'lerle günlük olarak etkileşim kurarız!
    <br />
    Belki bir web sitesinde oturum açmaya veya kaydolmaya gittiniz ve 'Facebook, Google veya Apple kullanarak giriş' seçeneğini gördünüz? Bu özellik bir API tarafından etkinleştirilir; sosyal medya hesabına gerçekten giriş yapmadan kullanıcının kimliğini doğrulamak .
    <br />
    Doğrudan bir e-ticaret mağazasından satın almak için PayPal'ı kullanmak, API işlevselliğinin başka bir örneğidir. E-ticaret sitesi, işlemi tamamlamak için ihtiyaç duyduğu bilgilere erişebilir ancak müşterinin hassas verilerine erişemez.
    <br />
    Ucuz bir tatil ararken bile API'lere güveniyoruz. Bir fiyat karşılaştırma sitesi ararken site, çevrimiçi seyahat acentelerinden veya havayollarından bilgi toplamak için üçüncü taraf API'lerini kullanarak birden çok seçeneği bir araya getirir ve en ucuz olanları gösterir.
    <br />
    <br />
    <h3>API'ler nasıl çalışır?</h3>
    <br />
   
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img class="img-fluid" src="~/images/howapiworks.png" /></div>
        <div class="col-md-3"></div>

    </div>
    API'ler, bir değişimin gerçekleşmesini kolaylaştıran API yazılımı ile kullanıcı ve servis sağlayıcı arasında bağlantı görevi görerek çalışır. Bu bir bilgi talebi, bir e-ticaret işlemi, bir banka hesabına para gönderme veya iki yönlü veri aktarımı gerektiren başka herhangi bir durum olsun.
    <br />
    Bir web sitesinde bir eylem gerçekleştirdiğinizde, API, eyleminizle ilgili çevrimiçi verileri sunucusuna gönderir. Ardından, sunucu verileri alır ve yorumlar, gerekli etkinliği tamamlar ve ardından sonucu uygulamaya geri döndürür. Uygulama, sonuç verilerini yorumlar ve cevabı size anlaşılır bir formatta gösterir.
    <br /><br />
    <h3>Neden API kullanırız?</h3>
    <br />
    API'lerin geliştirilmesi birçok iş yeniliğine ve iş akışı verimliliğine olanak sağlamıştır, işte API kullanmanın en büyük avantajlarından sadece üçü:
    <br /><br />
    <h4>Otomasyon</h4>
    <br />Bilgisayarlar tarafından yönetilen bir API kullanırken, daha az insan çabası gerekir ve iş akışları daha hızlı ve daha üretken olmak için kolayca güncellenebilir. Ayrıca, yeni içerik ve bilgiler yayınlanabilir ve tüm hedef kitlenizle tüm kanallarda hızlı ve verimli bir şekilde paylaşılabilir.
    <br /><br />
    <h4> Geliştirici verimliliği ve yenilik</h4>
    <br /> API'ler, karmaşık ancak tekrarlayan süreçlerde kodu yeniden kullanarak geliştiricilerin daha üretken olmalarını sağlar. API, bir programda yazılım bileşenlerinin nasıl birleştirileceğini belirlediğinden, sıfırdan başlamalarına gerek yoktur. API'ler, diğer geliştiricilerin uygulamalarıyla arayüz oluşturmayı kolaylaştırmak için mevcuttur.
    <br /><br />
    <h4>Geliştirilmiş değer önerisi</h4>
    <br /> Amazon, Salesforce veya Twitter gibi şirketler tarafından sunulan API'leri kullanarak, bir uygulama bu hizmetleri kendi sistemlerine entegre ederek kendilerini müşteriler için daha çekici hale getirebilir.
</div>

