
@{
    ViewData["Title"] = "Bootstrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container articles">
    <h1>Bootstrap</h1>
    Bootstrap, Twitter'ın geliştirdiği HTML, CSS ve Javascript'ten oluşan, Web Uygulaması geliştirme için kullanılan açık kaynak bir önyüz çatısıdır. Herkesin indirip kullanabileceği ücretsiz bir çatıdır. Herhangi bir platformda (Windows, Linux, Mac) çalıştırabiliriz. Bootstrap, bizlere zaman kazandıran bir düzen oluşturmanın en hızlı ve en basit yollarından biri olarak bilinen Grid(Izgara Sistemini) kullanma seçeneği sunar.
    <br />Bootstrap kullanmak için bootstrao sitesinden dosyaları indirebileceğimiz gibi link kullanarakta bu işlemi gerçekleştirebiliriz. 
    <br /><br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img class="img-fluid" src="~/images/bootstrap-illustration.png" /></div>
        <div class="col-md-3"></div>

    </div>
    <br />
    <h3>Boostrap Avantajları</h3>
    İlk şey, günümüzde insanlar cep telefonlarını, dizüstü bilgisayarları, sekmeleri, kişisel bilgisayarları kullanıyor. Web sitemize tüm insanlara ulaşmamız gerekirse, işimizi daha fazla yaymalıyız. Web sitesi, web sitenizin içeriğini herkesin iyi okuyabileceği ve görebileceği şekilde olmalıdır. Yani şimdi farklı cihazlar için farklı tasarımlar yapmayacağız çünkü yarın farklı boyutta bir ekran gelebilir veya yeni bir dizüstü bilgisayar ekranı boyutu başlatılırsa web sitemiz bunun üzerinde iyi çalışmayacaktır yani tasarımda kaymalar oalcaktır haliyle buda güzel görüntünün önüne geçecektir. Yani tüm bu karmaşadan kaçınmak için Bootstrap kullanmak çok avantajlıdır. <br />Yalnızca bir kez bir web sitesi oluşturmamız gerektiğinde, client web sitesini herhangi bir ekranda açarsa, web sitesinin UI (Kullanıcı Arayüzü) iyi gösterilecektir. Yani sitemiz responsive tasarlanmış olup tüm boyuttaki cihazlarda sağlıklı bir görünüme sahip olacaktır.

    <br />
    <b>Zaman kazanmak</b>
    Bootstrap'in en büyük avantajı, onu kullanmanın geliştirme hızını artırması ve işi çok kısa sürede bitirmesidir. Bootstrap kullanmak yerine kendimiz tasarlamaya kalkarsak eğer bir hayli vaktimizi alacaktır.
    <br />  <b>Kullanımı kolay</b>
    Temel HTML ve CSS bilgisine sahipseniz, Bootstrap'ı kolayca kullanabilirsiniz. <a>https://getbootstrap.com/</a> sitesine gidip documentation kısmından isteğimize göre uygun linki projemize ekleyip kullanmaya başlayabiliriz.
    <br />
    Aşağıdaki resimde örnek kullanım gösterilmiştir.
    <br /><br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img class="img-fluid" src="~/images/bootcode.jpg" /></div>
        <div class="col-md-3"></div>

    </div>
</div>

