
@{
    ViewData["Title"] = "Elasticsearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container articles">
    <h1>ElasticSearch</h1>
    <br />
    <p>
        İnsanların internette geçirdikleri süre arttıkça web sitelerinde biriken veri miktarı da artmaktadır. Birçok web sitesinde büyük miktarda veri üretilir ve bunlara büyük veri denir. Bu verilerin çoğu dağınık, anlamsız ve kendi başlarına yapılandırılmamış. Bu verilerin işletmeler için anlamlı hale getirilmesi, erişilebilir olması ve hızlı ve doğru bir şekilde analiz edilebilmesi; müşteri sadakati sağlamak, pazarlama stratejisi geliştirmek, sorunları görmek gibi pek çok açıdan hayati önem taşımaktadır. Arama araçlarının çoğu bu kadar büyük, dağınık ve bağımsız veri koleksiyonlarında çalışmaz. ElasticSearch, işletmelerin bu tür ihtiyaçlarını karşılamak için geliştirilmiş bir arama aracıdır. GTech olarak bu yazımızda ElasticSearch hakkında çeşitli bilgiler paylaştık.

    </p>
    <br />
    <h3>ElasticSearch Nasıl Ortaya Çıktı</h3>
    <br />
    <p>
        ElasticSearch, Java programlama dili kullanılarak Apache Lucene altyapısı üzerinde geliştirilmiş bir tam metin arama motoru ve analiz aracıdır. Tek bir makinede büyük metin dosyalarında arama yapmak için geliştirilen Lucene, anlık veriler ve dağıtılmış sistemlerde arama yapmak için yetersizdi; Böylece ElasticSearch doğdu ve esnek yapısı ve dağıtık sistemlerde gerçek zamanlı verilerle çalışma gibi yetenekleri ile kısa sürede popülerlik kazandı.
    </p>
    <br />
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img class="img-fluid" src="~/images/elastichowworksjpg.jpg" /></div>
        <div class="col-md-3"></div>

    </div>
    <br />
    <h3>ElasticSearch'ün Avantajları Nelerdir?</h3>
    <br />
    <p>
        <b>1.</b> Dağıtılmış ve oldukça ölçeklenebilir bir yapıda çalışabilir.
        <br /> <b>2.</b>  Açık kaynaklıdır.
        <br /> <b>3.</b>  RestfullAPI desteğine sahiptir.
        <br /> <b>4.</b>  Gerçeğe yakın. Bu şekilde, veriler kaydedildikten saniyeler sonra SearchElastic ile yapılan aramalarda bulunabilir.
        <br /> <b>5.</b>  Kolayca yedeklenebilir.
        <br /> <b>6.</b> Alternatiflerine göre çok az kaynak kullanarak çalışır.
        <br /> <b>7.</b> Basit bir küme yapısına sahiptir.
        <br /> <b>8.</b> Dizine eklediğinden, arama sonuçlarını hızlı bir şekilde döndürür.
        <br /> <b>9.</b> Belgeleri JSON olarak indeksler, birçok programlama dilini destekler.
        <br /> <b>10.</b>  Veri tipine göre haritalama yapılabilir.
        <br /> <b>11.</b> Hızlı ve kolay kuruluma sahiptir.
        <br /> <b>12.</b> MongoDB, NoSQL, Cassandra ve HBase gibi veritabanlarından ElasticSearch'e veri aktarımına izin verir.
        <br /> <b>13.</b> Otomatik tamamlama özelliğine sahiptir.
    </p>
    <br />
    <h3></h3>
</div>

