
@{
    ViewData["Title"] = "IOT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container articles">
    <h1>IOT</h1>
    <br />
    1999'da terimin ortaya çıkışından bu yana, nesnelerin interneti (IoT) salt bir vizyondan elle tutulur bir gerçekliğe dönüştü. Bu, İnternet Protokolünün (IP) yaygın kullanımına, her yerde bulunan bilgi işlemin yükselişine ve diğer geliştirme faktörlerinin yanı sıra veri analitiğinin sürekli ilerlemesine bağlanabilir. 2020 yılına kadar IoT'ye bağlı 20,4 milyar cihaz olacağı tahmin ediliyor . Bununla birlikte, devam eden genişlemesine rağmen, IoT bir dereceye kadar belirsiz bir kavram olmaya devam ediyor, bu, açık faydalar sağlasa bile genellikle soyut terimlerle anılan bir şey.
    <br />
    IoT, internet ve diğer ağ bağlantılarının farklı sensörlere ve cihazlara - veya "nesneler" için bir uzantısı olarak tanımlanabilir; ampuller, kilitler ve havalandırma delikleri gibi basit nesnelere bile, daha yüksek derecede bilgi işlem ve analitik yetenekler sağlar.
    <br />
    Birlikte çalışabilirlik, IoT'nin artan popülaritesine katkıda bulunan temel yönlerinden biridir. IoT'de genellikle "nesneler" olarak adlandırılan bağlı veya "akıllı" cihazlar, ortamlarından diğer cihazlar ve ağlarla veri toplama ve paylaşma becerisine sahiptir. Verilerin analizi ve işlenmesi sayesinde cihazlar, insan etkileşimine çok az ihtiyaç duyarak veya hiç ihtiyaç duymadan işlevlerini yerine getirebilirler.
    <br />
    Sürekli artan bağlı cihaz sayısı göz önüne alındığında, IoT, halihazırda paylaşılan ve işlenmekte olan verilere farklı katmanlar ekleyerek ve gelişmiş otomasyon seviyeleri ile sonuçlanan sofistike algoritmalara yol açarak evrim yoluna devam ediyor. Ve ona bağlanabilen çeşitli "şeyler" nedeniyle, IoT, bireysel kullanıcılar ve benzer şekilde tüm endüstriler için çeşitli uygulamaları mümkün kıldı.
    <br /><br />
    <h3>IoT nasıl çalışır?</h3>
    <br />
    IoT'yi oluşturan "şeyler", giyilebilir bir spor takip cihazından otonom bir araca kadar her şey olabilir. Kullanıcılar için hangi işlevi yerine getirdikleri önemli değil, bu cihazların ilgili IoT sistemlerinin bir parçası olarak düzgün şekilde çalışması için aşağıdaki bileşenlere sahip olması gerekir.

    <b>Sensörler</b>: IoT sisteminin işlemeye başlaması için ilk olarak ortamdan veriler toplanır. Ortamdaki gözlemlenebilir olayları veya değişiklikleri ölçebilen cihazlardaki sensörler tarafından toplanır. Cihaz tarafından ölçülen verilerin türü, işlevine bağlıdır: Bir fitness takipçisi durumunda bir kişinin nabzı veya otonom bir araçtaki en yakın nesnenin mesafesi olabilir.

    <br /> <b>Bağlantı ve kimlik</b>: Veriler, bir bilgisayara veya başka bir cihaza, cihazdan IoT sisteminin geri kalanına iletilmelidir. Ve bu iletişimin herhangi bir anlamı olabilmesi için, bir cihazın internette kendi IP adresi aracılığıyla gerçekleştirilebilen benzersiz bir tanımlanabilir varlığa sahip olması gerekir.

    <br /> <b>Aktüatörler</b>: Çoğu IoT cihazı, kullanıcılarıyla fiziksel etkileşim olmadan birincil işlevlerini yerine getirebilir. IoT cihazları, sensörlerinden gelen verilere ve ardından ağdan gelen geri bildirimlere göre harekete geçebilmelidir. Örneğin akıllı bir ampul, kullanıcı kilometrelerce uzakta olsa bile, kullanıcısının emriyle açılabilir. Aynı şekilde akıllı bir fabrikadaki bir vana, üretim hattı boyunca sensörleri tarafından toplanan verilere göre otomatik olarak açılıp kapanabilir.

    Cihazlar genellikle otomasyon göz önünde bulundurularak oluşturulmuş olsa da, IoT sistemlerinin çalışması için başka teknolojilerin de mevcut olması gerekir. IoT sistemlerinin verileri nasıl işlediğine ilişkin bağlantıları tamamlamak aşağıdaki bileşenlerdir.

    <br /> <b>IoT ağ geçidi</b>: IoT ağ geçidi, farklı cihazların verilerinin buluta ulaşması için bir köprü görevi görür. Ayrıca, çeşitli IoT cihazlarının farklı protokollerini tek bir standart protokole dönüştürmeye ve cihazlar tarafından toplanan gereksiz verileri filtrelemeye yardımcı olur.

    <br /> <b>Bulut</b>: Bulut, farklı cihazlardan gelen tüm verilerin toplandığı ve yazılımın işlenmek üzere bu verilere ulaşabildiği yerdir. Veri işlemenin çoğu bulutta gerçekleştiğinden, bireysel cihazların üzerindeki yükü azaltır.

    <br /> <b>Kullanıcı arayüzü</b>: Kullanıcı arayüzü, cihazlar tarafından toplanan verileri kullanıcılara iletir ve kullanıcıların cihazlar tarafından gerçekleştirilmesi için gerekli komutları yapmasına olanak sağlar.

    İnternet Mimarisi Kurulu , IoT tarafından kullanılan dört iletişim kanalını özetleyen bir kılavuz belge yayınladı . Dört model ayrıca IoT cihazlarının bağlantısının her bir cihazın değerini artırmaya nasıl yardımcı olduğunu ve genel kullanıcı deneyimine kalite kattığını gösterir:

    <br /> <b>Aygıttan Aygıta</b>: Bu model, iki veya daha fazla cihazın birbirine nasıl bağlandığını ve birbiriyle nasıl iletişim kurduğunu temsil eder. Cihazlar arasındaki iletişim genellikle Bluetooth, Z-Wave ve Zigbee gibi protokoller aracılığıyla sağlanır. Bu model genellikle giyilebilir cihazlarda ve küçük veri paketlerinin bir cihazdan diğerine, bir ampulün kapı kilidinde olduğu gibi iletildiği ev otomasyon cihazlarında bulunur.

    <br /> <b>Aygıttan Buluta</b>: Çoğu IoT cihazı, genellikle kablolu Ethernet veya Wi-Fi kullanımıyla buluta bağlanır. Buluta bağlanmak, kullanıcıların ve ilgili uygulamaların cihazlara erişmesine izin vererek, komutları uzaktan yönlendirmenin yanı sıra cihaz yazılımına gerekli güncellemeleri göndermeyi mümkün kılar. Bu bağlantı aracılığıyla cihazlar, servis sağlayıcılarının iyileştirilmesi için kullanıcı verilerini de toplayabilir.

    <br /> <b>Aygıttan Ağ Geçidine</b>: Buluta bağlanmadan önce, IoT cihazları ilk olarak bir ara ağ geçidi cihazı ile iletişim kurabilir. Ağ geçidi, protokolleri çevirebilir ve tüm IoT sistemi için ek bir güvenlik katmanı ekleyebilir. Örneğin akıllı bir ev durumunda, tüm akıllı cihazlar, farklı bağlantı protokollerine sahip olmasına rağmen farklı cihazların birlikte çalışmasına yardımcı olan bir hub'a (ağ geçidi) bağlanabilir.

    <br /> <b>Arka Uç Veri Paylaşımı</b>: Cihazdan buluta modelinin bir uzantısı olan bu model, kullanıcıların farklı akıllı cihazlardan bir veri koleksiyonuna erişmesine ve bunları analiz etmesine olanak tanır. Örneğin bir şirket, bulutta birlikte organize edilmiş olarak şirket binası içinde çalışan tüm cihazlardan bilgilere erişmek için bu modeli kullanabilir. Bu model ayrıca veri taşınabilirliği ile ilgili sorunları azaltmaya yardımcı olur.
    <br /><br />
    <h3>Günlük Hayatta IOT</h3>
    <br />
    İnternetin geniş bir kullanıcı yelpazesini etkilemesi gibi, IoT de etkiliyor. Bağlanabilirlik ölçeğine ve dahil olan cihazların sayısına bağlı olarak IoT, ister tek bir kullanıcı için isterse tüm bir şehir için olsun, önemli ve özel uygulamalara sahip olabilir. IoT'nin yaygın uygulamaları aşağıdakileri içerir.
    <br />
    <br /><b>İnsanlar ve evler</b>: İnsanlar, akıllı saatler ve fitness takipçileri gibi takılabilen teknolojiler ve gerçek zamanlı olarak bilgi almayı ve toplamayı mümkün kılan cihazlar aracılığıyla IoT cihazlarını doğrudan kullanıyorlar. Evlere uygulanan IoT cihazları, daha bağlantılı, enerji açısından verimli ve evde rahatlıkla koşmak için kullanılabilir. Bağlı bir evin farklı yönlerine, ev sahipleri tarafından bir bilgisayar veya elde tutulan bir akıllı cihaz aracılığıyla uzaktan erişilebilir ve kontrol edilebilir.

    <br /><b>Otomobiller</b>: Hareket halindeki bir aracın içindeki sensörler, araç ve çevresi hakkında gerçek zamanlı veri toplamayı mümkün kılar. Otonom araçlar, ortamlarını değerlendirmek ve sonuç olarak kendilerini sürmek için gelişmiş kontrol sistemleriyle birlikte farklı sensörler kullanır.

    <br /><b>Fabrikalar</b>: Fabrikalarda IoT uygulamasıyla, üreticiler tekrar eden görevleri otomatikleştirebilir ve tüm üretim sürecinin herhangi bir kısmına ilişkin bilgilere erişebilir. Sensörler tarafından fabrika makinelerinde sağlanan bilgiler, tüm üretim hattını daha verimli ve kazaya daha az meyilli hale getirme yollarının tasarlanmasına yardımcı olabilir.

    <br /><b>İşletmeler</b>: Daha büyük ölçekte, IoT teknolojilerinin benimsenmesiyle işletmeler daha uygun maliyetli, verimli ve üretken olabilir. Örneğin, ofis binalarına asansör trafiğini veya genel enerji tüketimini izleyebilen sensörler takılabilir. Farklı endüstriler doğal olarak farklı IoT uygulamalarına sahiptir: Sağlık sektöründe, IoT cihazları hastaların durumu hakkında anında ve doğru güncellemeler elde etmek için kullanılabilirken, perakende sektöründe, IoT cihazları alışveriş yapanların ürünleri bulmalarına yardımcı olmak ve envanteri izlemek.

    <br /><b>Şehirler</b>: Farklı IoT cihazlarının birleşik kullanımları, kentsel ve kamusal alanları kapsayabilir. IoT cihazları, trafik kontrolü, kaynak yönetimi ve kamu güvenliği gibi şehir yönetiminin çeşitli yönlerini yönetmeye yardımcı olmak için ortamından veri toplayabilir ve ortamını etkileyebilir.
</div>

