
@{
    ViewData["Title"] = "Jquery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container articles">
    <h1>JQuery</h1>
    <p>
        JQuery, web uygulamalarının oluşturulmasını ve gezinmesini kolaylaştıran açık kaynaklı bir JavaScript kütüphanesidir. Jquery,  DOM işlemlerini, javascript, ajax işlemlerini basitleştirir . Bunlara Ek olarak, jQuery  web sitesi öğelerine efektler eklemek için CSS özelliklerini işleyerek JavaScript işlevlerini birleştirir. jQuery, yaygın olarak kullanılan bir JavaScript kütüphanesidir. ve kullanıcı tarafından oluşturulan binlerce eklenti tarafından desteklenir .
        <br />
        JQuery, kullanıcıların belirli özelliklere sahip öğeleri bulmasına, seçmesine ve değiştirmesine izin vererek DOM işlemeyi basitleştirecektir. Kullanıcılar ayrıca öğe özelliklerini değiştirebilir ve olaylara yanıt verebilir. jQuery, web sayfasını yeniden yüklemeye gerek kalmadan tarayıcılar ve sunucular arasında veri aktarmak için Ajax kullanabilir. Olay işleme, bir olay üzerine bir nesne alan bir olay işleyicisi tarafından sağlanır. Olay işleyici, olayın türünü belirtir ve olayın etkisini önlemek için bir DOM öğesi işlevi yürütür.
        <br />
        <h3>JQuery Özellikleri </h3>
        JQuery kullanmanın artıları:

        Chrome, Firefox, Safari, Internet Explorer ve Edge'i destekler.

        <b>Ajax desteği</b> <br />
        <b>Eklenti desteği </b>  <br />
        <b> CSS seçicilere dayalı DOM öğesi manipülasyonu. </b> <br />
        <b> JSON ayrıştırma </b> <br />
        <b>Özellik algılama </b> <br />
        <b>Animasyonlar</b> <br /><br />
        <h3>JQuery eklentileri</h3>
        JQuery, JQuery'ye ek işlevsellik sağlayan eklentileri destekler. Eklentiler, JavaScript kütüphaneleri üstüne eklenir.
        <br />
        Eklentilerin sağladığı işlevler arasında XML araçları, tanımlama bilgisi işleme, tablo sıralama, Ajax yardımcıları, sürükle ve bırak işlevleri ve form doğrulaması bulunur. Son kullanıcılar, kendi eklentilerini oluşturabilir ve çalıştırabilir veya bunları, kullanımlarından faydalanabilecek başkalarına ücretsiz olarak sunabilir.
        <br />
        Şimdide küçük bir DOM örneği ile jQuery nin kazandırdığı basitliğe göz atalım. Burada jQuery kullanılması için kendi sitesinden linkini script taginin üzerine koymalıyız. Burada da yine bir buton ve paragraf olsun. Yine click işlemi ile paragrafın textini değiştirelim.
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"><img class="img-fluid" src="~/images/jquerycode (2).jpg"/></div>
            <div class="col-md-3"></div>

        </div>
        <br />
        Görüldüğü gibi javascript ile daha fazla kod yazma durumundayken jQuery ile bunu minimize edip basitleştirdik.

    </p>
</div>

