
@{
    ViewData["Title"] = "WaterfallAgile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container articles">
    <h1>Waterfall vs Agile</h1>
    <p>
        Peki nasıl seçeceğiz? İlk olarak, kendi sürecimizi tanımlayarak oyunu biraz değiştiriyoruz (çoğu yazılım geliştirme kuruluşunun yaptığı şey budur). Segue'de buna Süreç Çerçevemiz denir ve geleneksel Şelale metodolojisinin bir varyasyonudur. Değişikliklerimiz, müşteriye tasarım / geliştirme döngüsünün başlarında bitmiş ürünleri hakkında daha iyi bir görünüm sağlamak için mümkün olduğunda prototipleme kullanımını içerir. Bu, ekibin gereksinimleri anlamasını ve müşteri ile iletişimini geliştirmeye yardımcı olur. Uygulamanın ana çerçevesi üst düzey gereksinimlere göre tamamlandıktan sonra, geliştirmeye ve ihtiyaçların iyileştirilmesi için müşteriye ulaşmaya devam ediyoruz. Bu şekilde, genel sistem mimarimizden ödün vermeden mümkün olduğunca yinelemeli olmaya çalışıyoruz.
        <br /><div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"><img class="img-fluid" src="~/images/agilevswaterfall.jpg" /></div>
            <div class="col-md-3"></div>

        </div><br />

        Kuruluşta çeşitli Çevik metodolojilerin (hatta Savunma Bakanlığı ve Federal ajanslar) kitlesel olarak benimsendiğini görmeye başlasak da, hala değişikliği yapmakta yavaş olan birçok kuruluş var. Ayrıca, organizasyonun hem Çevik hem de Şelale yönlerini birleştiren daha çok hibrit Çevik yaklaşıma geçiş yapması çok yaygındır. Çevik Uygulama Kılavuzu özellikle yardım kuruluşuna anlama geliştirilmiş ve Çevik kullanımını değerlendirmek ve hibrid Çevik yaklaşımları edildi. Proje Yönetimi Bilgi Birimi (PMBOK) Kılavuzunu geliştiren Proje Yönetim Enstitüsü (PMI), kuruluşların, yöneticilerin ve liderliğin geliştirme sürecinde çevikliği artırmasına yardımcı olmak için iki kılavuzu tek bir teklifte bir araya getirmek için Agile Alliance ile işbirliği yaptı.
        <br />
        Hangi temel metodolojiyi kullanacağımıza karar verdikten sonra, süreci proje hedeflerimize en iyi uyacak şekilde daha da iyileştirebiliriz. Sonuçta, işimizi yapma şeklimiz önemli olsa da, gerçekten önemli olan müşterimizi tatmin eden sağlam ve bakımı yapılabilir bir ürün sunmaktır.
    </p>
    </div>

