* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.sutun {
    float: left;
    width: 100%;
    padding: 1rem;
}

.temizle::after {
    content: "";
    display: block;
    clear: both;
}

.kapsam {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

@media (min-width: 576px) {

    .kapsam {
        max-width: 540px;
    }

    html {
        font-size: 7px;
    }
}

@media (min-width: 768px) {
    .kapsam {
        max-width: 720px;
    }

    html {
        font-size: 8px;
    }

    .sutun {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .kapsam {
        max-width: 960px;
    }

    html {
        font-size: 9px;
    }

    .sutun {
        width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    .kapsam {
        max-width: 1140px;
    }

    html {
        font-size: 10px;
    }
}

@media (max-width: 767px) {

    .card-text {
        font-size: 13px !important;
    }
   .col-md-4 .card-body a {
        font-size: 15px !important;
    }
    .card-bold {
        font-size: 15px !important;
    }
    .tech-btm h5 a{
        font-size:15px;
    }
    .tech-btm h2 {
        font-size: 20px;
    }
    .sub-meta span{
        font-size:13px;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

/*navbar*/

nav {
    width: 100%;
    font-family: Montserrat;
    background-color:black;
    color: #fff;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: .5rem;
}

    #logo-box .logo {
        color: #fff;
        font-weight: 700;
        font-size: 3.2rem;
    }

        #logo-box .logo:hover {
            text-decoration: none;
        }

#nav-links {
    float: right;
}

    #nav-links .nav-item {
        float: left;
        margin: .4rem;
    }

    #nav-links .nav-link {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        display: block;
        padding: 1.6rem;
        letter-spacing: .1rem;
        transition: color .3s;
    }

        #nav-links .nav-link:hover {
            color: #18bc9c;
        }

    #nav-links .nav-icon {
        display: none;
    }

@media (max-width: 992px) {

    #logo-box {
        float: none;
        text-align: left;
    }

    #nav-links {
        float: none;
    }


        #nav-links.responsive li:not(:first-child) {
            display: none;
        }

        #nav-links .nav-link {
            font-size: 2rem;
            padding-left: 0;
        }

        #nav-links .nav-item {
            float: none;
            text-align: left;
        }

        #nav-links .nav-icon {
            display: block;
            position: absolute;
            top: 10px;
            right: 5px;
            font-size: 3rem;
        }
}
/*Header*/
header {
    background-color: white;
    padding-top: 0.4rem;
}

.card-title {
    font-size: 4rem;
}

.card-text {
    font-size: 1.5rem;
    color: #777777;
    font-weight: 300;
}

    .card-text a {
        font-family: 'Lato', sans-serif;
    }
.tech-btm h5 a{
    color:black;
}
.tech-btm h5{
    margin-top:5px;
}
.resimKapsayici {
    position: relative;
}

.resimYazi {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    left: 38%;
    bottom: 2.5rem;
}

.col4-item {
    color: #2C3E50;
    transition: color .3s;
    cursor: pointer;
}

    .col4-item:hover {
        text-decoration: none;
        color: #18bc9c;
    }

.col4-link:hover {
    text-decoration: none;
}
.opacity {
    transition: opacity 1s;
}

    .opacity:hover {
        opacity: 0.6;
    }
.col8-margin {
    margin: 13px;
}
.card-bold {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.col-md-4
.card a{
    text-decoration:none;
    color:black;
    transition:opacity 0.8s;
}
.col-md-4
.card a:hover{
    opacity:0.7;
}
.articles {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 150px;
    font-family: 'Noto Serif', serif;
}
.articles-img {
    width: 500px;
    height: 400px;
    margin-top: 20px;
    margin-left: 200px;
}
a.btn.btn-success.read-m {
    background: #01CD74;
    color: white;
    border-radius: 0;
    padding: 0.55em 2em;
    letter-spacing: 1px;
   
    border: 1px solid #01CD74;
}

    a.btn.btn-success.read-m:hover, a.btn.btn-success.read-m:focus {
        background: white;
        color: #01CD74;
        box-shadow: none !important;
    }
    

/*Footer*/

.footer-links {
    color: white;
    transition: color 0.6s;
}

    .footer-links:hover {
        color: teal;
    }
